@import "../base/variables"
  
.footer
  display: flex
  justify-content: center
  align-items: center
  height: 40px
  width: 100%
  color: $primary-text-color
  background-color: #141422

.footer__link
  color: $primary-text-color
  text-decoration: none