@import "../base/variables"
  
.header
  display: flex
  justify-content: center
  align-items: center
  min-height: 40px
  background-color: $primary-bg-color

.navbar
  display: flex
  justify-content: space-around
  width: 80%
  max-width: 300px

.navbar__link
  padding: 5px
  color: $secondary-text-color
  text-decoration: none
  font-weight: 600