@import '../base/variables'

.content
  color: $primary-text-color
  background-color: $secondary-bg-color

.weather
  text-align: center

.weather__title, .weather__date
  margin: 5px 0 15px

.title__name, .title__country, .weather__temp, .table__data, .weather__date
  color: $highlight-color

.weather__icon
  margin: 0 auto
  font-size: 4.5em

.weather__desc
  margin: 10px 0 0

.weather__temp
  margin-top: 0

.weather__table
  min-width: 290px
  margin: 0 auto 10px
  text-align: center
  border-spacing: 0

.table__label, .table__data
  padding: 5px 10px
  border-bottom: 1px solid $primary-text-color