@import "./variables"
  
*
  box-sizing: border-box

html, body
  height: 100%

body
  margin: 0
  padding: 0
  font-family: 'Titillium Web', sans-serif;
  background-color: $secondary-bg-color

.wrapper
  display: flex
  flex-direction: column
  height: 100%

.content
  flex: 1;

.flex
  display: flex
  flex-direction: column
  justify-content: center

.grid
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

@media screen and (min-width: 900px)
  .content
    width: 60%
    margin: 0 auto